.app{
    height: 100vh;
    display: flex;
    background-color: #020230;
    color: white;

}

.main{
    width: 75%;
    background-image: url("./assets/QQSM.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
}

.prices{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

