.top{
    height: 50vh;
    position: relative;
}

.timer{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    font-weight: 700;
    position: absolute;
    bottom:  2vh;
    left: 5vh;
}

.bottom{
    height: 50vh;
}
